@media only screen and (max-width: 1315px) {
    header {
        padding-top: 27px;
        position: absolute;
        width: 100%;
        z-index: 3;
        nav {
            display: none;
        }

        .media_burger {
            flex-shrink: 0;
            display: flex;
            margin-right: 27px;
        }

        p {
            display: block;
            margin-left: 25px;
        }

        .media_kz {
            flex-shrink: 0;
            margin-left: auto;
            display: flex;
        }
    }

    .home {
        background-image: url('../images/home_media_bg.png');
        background-repeat: no-repeat;
        background-size: cover;

        .home_img {
            display: none;
        }

        .home_wrapper {
            max-width: 100%;
            width: 100%;
            padding: 450px 0 50px 0;
            margin: 0;
        }

        .home_media_img {
            width: 100%;
            object-fit: cover;

        }

        .main_container {
            display: flex;
            justify-content: center;

            .home_btn {
                margin: 0 auto;
                position: static;
            }
        }

    }

    .lotto_game {

        .main_title_link {
            display: block;
        }
        .lotto_game_in_bottom {
            display: block;
        }
    }

    .lotteries {
        .lotteries_bottom {

            display: block;
        }
    }

    .jackpot {
        .jackpot_in {
            
            button {
                left: 5%;
                bottom: 25px;
                padding: 14px 33px;
            }
        }
    }

    .information {
        .main_container {
            flex-direction: column;
            gap: 38px;
        }

        .information_card {
            gap: 38px;
            width: 100%;
        }
    }

    .androidapp {
        display: block;

        a {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .mediapay {
        margin-top: 100px;
        display: block; 

        .fieldset {

        }

        .mediapay_in {
            align-items: center;
            a {
                display: flex;
                justify-content: center;
                width: calc(100% / 3 - 44px);
            }
        }
    }

    .partner {
        .main_container {
            flex-direction: column;

            .partner_text {
                width: 100%;

                h6 {
                    text-align: center;
                    br {
                        display: none;
                    }
                }

                p {
                    text-align: center;
                    max-width: 896px;
                    margin: 0 auto;
                }
            }

            .partner_logo {
                display: none;
            }

            .partner_logo_slider {
                width: 100%;
                display: block;

                a {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    footer {
        .pay {
            display: none;
        }

        .footer_left {
            width: 70%;
            // border: 1px solid red;

            .footer_logo {
                flex-shrink: 0;
            }

            p {
                text-align: center;
                margin-left: auto;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .main_title {
        font-size: 16.89px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0%;
    }

    .main_container {
        padding: 0 10px;
    }

    .main_btn {
        font-size: 22px;
    }

    header {
        padding-top: 8px;
        p {
            margin: 0 7px;
            font-size: 9.41px;
            font-weight: 400;
            line-height: 11px;
            letter-spacing: 0%;
        }

        .logo {
            width: 45px;
        }

        .media_burger {
            margin-right: 8px;
            width: 24px;
            height: 24px;
            border-radius: 7px;

            img {
                width: 12px;
            }
        }

        .media_kz {
            width: 40px;
            width: 24px;
            height: 24px;
            border-radius: 7px;

            img {
                width: 12px;
            }
        }
    }

    .home {
        background-image: url('../images/home_bg_media.png');
        background-size: 100%;

        .home_btn {
            height: 28px;
            width: 126px;
            font-size: 10.97px;
            border-radius: 7px;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: 0%;
        }

        .home_wrapper {
            padding: 40% 0 5% 0;
        }
    }

    .home_under {
        padding: 20px 0;
    }

    .favorite {
        button {
            border: 0.89px solid rgb(210, 221, 239);
            padding: 8px 12px;
            border-radius: 7px;
            font-size: 10.97px;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: 0%;
        }
    }

    .lotto_game {
        .main_title_link {
            font-size: 12.74px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0%;
        }

        .title_block {
            margin: 10px 0;
        }

        .lotto_game_in_bottom {
            margin-top: 9px;
        }

        p {
            margin: 9px 0;
            font-size: 6.52px;
            font-weight: 400;
            line-height: 9.19px;
            letter-spacing: 0%;
        }
    }

    .jackpot {
        .jackpot_in {

            .jackpot_desktop {
                display: none;
            }

            .jackpot_media {
                display: block;
            }

            img {
                width: 100%;
            }
            .main_btn {
                border-radius: 4.45px;
                font-size: 8.89px;
                font-weight: 700;
                line-height: 11px;
                letter-spacing: 0%;
                padding: 3px 7px;
            }
        }
    }

    .lotteries {

        .title_block {
            margin: 10px 0;
        }
        .lotteries_bottom {
            margin-top: 9px;
        }

        p {
            margin: 9px 0;
            font-size: 6.52px;
            font-weight: 400;
            line-height: 9.19px;
            letter-spacing: 0%;
        }
    }

    .winners {
        margin-bottom: 30px;
        .winners_in {
            margin: 0;
        }

        .winners_slider {
            padding: 20px;
        }

        h6 {
            font-size: 13.93px;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 0%;
            margin-bottom: 10px;
        }

        h5 {
            font-size: 15.41px;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0%;
        }

        p {
            margin: 9px 0;
            font-size: 9.78px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0%;
        }   

        .winners_card {
            box-shadow: 0px 1.78px 23.71px 0px rgb(202, 213, 228);
            padding: 12px;
            border-radius: 10.67px;
            img {
                width: 71px;
            }

            .winners_card_icon {
                width: 33px;
            }
        }
    }

    .information {
        margin-bottom: 25px;

        .main_container {
            gap: 10px;
        }

        .information_card {
            gap: 11px;
            a {
                img {
                    width: 15px;
                }
                gap: 12px;
                font-size: 13.93px;
                font-weight: 700;
                line-height: 17px;
                letter-spacing: 0%;
            }
        }
    }

    .mediapay {
        margin: 25px 0;
        
        fieldset {
            padding: 20px 40px;
            border-radius: 10.37px;
        }
        
        .mediapay_in {
            gap: 20px;
            
            a {
                width: calc(100% / 3 - 23px);
                flex-shrink: 0;
                // width: auto;
                max-width: auto;
            }
        }
        
        legend {
            font-size: 16.89px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0%;
        } 
    }

    .partner {
        margin-bottom: 20px;

        .main_container {
            gap: 35px;
            .partner_text {
                h6 {
                    font-size: 14.82px;
                    font-weight: 600;
                    line-height: 18px;
                    letter-spacing: 0%;
                }
                
                p {
                    font-size: 12.74px;
                    font-weight: 400;
                    line-height: 14.23px;
                    letter-spacing: 0%;
                    margin-bottom: 6px;
                }
            }

            .partner_logo_slider {

                a {
                    display: flex;
                    align-items: center;

                }
            }
        }
    }


    footer {
        margin-top: 24px;
        margin-bottom: 30px;
        .footer_left {
            width: 75%;
            gap: 10px;

            .footer_logo {
                width: 35px;
            }

            p {
                max-width: 168px;
                font-size: 8.89px;
                font-weight: 700;
                line-height: 11.26px;
                letter-spacing: 0%;
            }
            
        }

        .footer_img {
            width: 36px;
        }
    }
}