@media only screen and (max-width: 1315px) {
    header {
        padding-top: 27px;
        position: absolute;
        width: 100%;
        z-index: 3;
        nav {
            display: none;
        }

        .media_burger {
            flex-shrink: 0;
            display: flex;
            margin-right: 27px;
        }

        p {
            display: block;
            margin-left: 25px;
        }

        .media_kz {
            flex-shrink: 0;
            margin-left: auto;
            display: flex;
        }
    }

    .home {
        background-image: url('../images/home_media_bg.png');
        background-repeat: no-repeat;
        background-size: cover;

        .home_img {
            display: none;
        }

        .home_wrapper {
            max-width: 100%;
            width: 100%;
            padding: 450px 0 50px 0;
            margin: 0;
        }

        .home_media_img {
            width: 100%;
            object-fit: cover;

        }

        .main_container {
            display: flex;
            justify-content: center;

            .home_btn {
                margin: 0 auto;
                position: static;
            }
        }

    }

    .lotto_game {

        .main_title_link {
            display: block;
        }
        .lotto_game_in_bottom {
            display: block;
        }
    }

    .lotteries {
        .lotteries_bottom {

            display: block;
        }
    }

    .jackpot {
        .jackpot_in {
            
            button {
                left: 5%;
                bottom: 25px;
                padding: 14px 33px;
            }
        }
    }

    .information {
        .main_container {
            flex-direction: column;
            gap: 38px;
        }

        .information_card {
            gap: 38px;
            width: 100%;
        }
    }

    .androidapp {
        display: block;

        a {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .mediapay {
        margin-top: 100px;
        display: block; 

        .fieldset {

        }

        .mediapay_in {
            align-items: center;
            a {
                display: flex;
                justify-content: center;
                width: calc(100% / 3 - 44px);
            }
        }
    }

    .partner {
        .main_container {
            flex-direction: column;

            .partner_text {
                width: 100%;

                h6 {
                    text-align: center;
                    br {
                        display: none;
                    }
                }

                p {
                    text-align: center;
                    max-width: 896px;
                    margin: 0 auto;
                }
            }

            .partner_logo {
                display: none;
            }

            .partner_logo_slider {
                width: 100%;
                display: block;

                a {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    footer {
        .pay {
            display: none;
        }

        .footer_left {
            width: 70%;
            // border: 1px solid red;

            .footer_logo {
                flex-shrink: 0;
            }

            p {
                text-align: center;
                margin-left: auto;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .main_title {
        font-size: 28px;
        line-height: 38px;
    }

    .main_container {
        padding: 0 10px;
    }

    .main_btn {
        font-size: 22px;
    }

    header {
        p {
            margin: 0 10px;
            font-size: 18px;
            line-height: 22px;
        }

        .media_burger {
            width: 40px;
            height: 40px;
            border-radius: 10px;

            img {
                width: 20px;
            }
        }

        .media_kz {
            width: 40px;
            height: 40px;
            border-radius: 10px;

            img {
                width: 20px;
            }
        }
    }

    .home {
        .home_btn {
            height: 55px;
            width: 320px;
            font-size: 22px;
        }
    }

    .lotto_game {
        .main_title_link {
            font-size: 25px;
        }
    }

    .jackpot {
        .jackpot_in {
            img {
                height: 200px;
                object-fit: cover;
            }
        }
    }

    .favorite {
        button {
            padding: 12px 15px;
            border-radius: 10px;
        }
    }

    .partner {
        margin-bottom: 20px;
    }

    .mediapay {
        margin: 50px 0;
        fieldset {
            padding: 20px 30px;
        }

        .mediapay_in {
            gap: 30px;
        }

        legend {
            font-size: 22px;
        } 
    }

    .winners {
        h6 {
            font-size: 18px;
            margin-bottom: 1px;
        }
        h5 {
            font-size: 22px;
        }

        p {
            font-size: 20px;
            line-height: 29px;
        }

        .winners_card {
            img {
                width: 90px;
            }

            .winners_card_icon {
                width: 40px;
            }
        }
    }

    .information {

        .main_container {
            gap: 10px;
        }

        .information_card {
            gap: 10px;
            a {
                font-size: 22px;
            }
        }
    }

    footer {
        margin-bottom: 30px;
        .footer_left {
            flex-direction: column;
            gap: 10px;

            p {
                text-align: left;
            }
        }
    }
}